.control-panel{
    height: 80px;
}
.main {
    /*width: 80%;*/
    /*margin-left: 10%;*/
}
body{
    background-color: #007bff3d;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.white-page{
    background-color: white;
}
.black-page{
    background-color: rgb(80, 89, 90);
    color: rgb(163, 163, 163);
}
.black-page h6{
    color: rgb(163, 163, 163);
    padding-bottom: 15px;
}
.shadow-effect {
    /*-moz-box-shadow: 0 15px 10px 4px #888;*/
    /*-webkit-box-shadow: 0 15px 10px 4px #888;*/
    /*box-shadow: 0px 10px 20px 0px #888*/
}
.navigation-pading{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.remove-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.slider-container{
    height: 600px;
}
.carousel-inner > .carousel-item > img{
    height: 600px;
}
.info-divs{
    padding-top: 70px;
}
.footer-divs{
    padding-top: 70px;
    min-height: 400px;
}
.container{
    padding-left: 40px;
    padding-right: 40px;
}
.article {
    padding: 20px;
}
body .modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
#myModal {
    text-align: center;
}
.thumbnail-divs a img {
     border: none;
     box-shadow: 0 1px 7px rgba(0,0,0,0.6);
     -o-transform: scale(1,1);
     -ms-transform: scale(1,1);
     -moz-transform: scale(1,1);
     -webkit-transform: scale(1,1);
     transform: scale(1,1);
     -o-transition: all 0.2s ease-in-out;
     -ms-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
 }
.thumbnail-divs a:hover img {
    position: relative;
    z-index: 999;
    -o-transform: scale(1.03,1.03);
    -ms-transform: scale(1.03,1.03);
    -moz-transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
    transform: scale(1.03,1.03);
}
.thumbnail-divs{
    padding-bottom: 20px;
    min-height: 350px;
}
.sponsors-divs {
    padding-top: 70px;
    padding-bottom: 120px;
    text-align: center;
}
.photo-album > .row {
    padding-bottom: 10px;
}
.resize-logo {
    width: 160px;
    height: 80px;
}
.bottom-footer {
    padding-top: 10px;
    height: 50px;
    background-color: #222222;
    color: rgb(163, 163, 163);
}
.social-media > img {
    margin-left: 5px;
    margin-right: 5px;
}
#map {
    height: 600px;
    width: 100%;
}
.banner {
    background-color: #cbd418;
    height: 200px;
}
.banner-text {
    padding: 40px;
}
.banner-text h1 {
    font-size: 60px;
    font-family:"Noto Color Emoji";
}
.banner-text h4 {
    font-size: 35px;
    color: white;
    font-family:"Noto Color Emoji";
}
.content-info {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-link-info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-media button {
    background-color: #352c2c;
}
.social-media > button > i {
    color: white;
}




